.row-list{
    display: flex;
    flex-direction: row;
    
}
.sort{
    align-items: right;
    //  text-align: right;
    //  position: absolute;
     top: 10%;
}
.cont{
    width: 60vw;
    margin: 0px auto;
}